<%- include("partials/header"); -%>
<div class="heading">
  <span id ="post-heading"><%= Chapter.title %></span>
</div>
<div class="story shadow  mb-5 bg-white rounded">
  <div>
    <img src="data:<%=Chapter.Image.contentType%>;base64,<%=Chapter.Image.image.toString('base64')%>" class="post-image storyImage" alt="..."/>
  </div>
  <div class="musicTab">
  </div>
  <div class="story-text">
  <p><% newChapter.forEach(function(data){ %>
    <span id="post-data"><%=data%></span>
      <br><br>
  <% }); %> </p>
  </div>
</div>
<%- include("partials/footer"); -%>
